backcall
click
colorama
decorator
deprecation
eyeD3
filetype
Flask
Flask-Cors
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
MarkupSafe
packaging
parso
pickleshare
prompt-toolkit
Pygments
pyparsing
python-dotenv
six
traitlets
wcwidth
Werkzeug
